body{
	font-family: "Verdana", "Times New Roman";
}

.kaart{
	width: 80px;
	border: 3px solid black;
	margin: 5px;
}

.gouden_rand{
	border: 3px solid gold;
}

.geselecteerd {
	border: 6px solid green;
	margin: 2px;
}


.speler_knop{
	display: inline;
	width: 75px;
	height: 100px;
}

h2{
	display: block;
}

h2.aan_de_beurt{
	color: green;
}
h2.klaar{
	color: gold;
}
h2.gepast{
	color: red;
}

.hand{
}

span{
	display:inline-block;
}

td.naam_en_knop{
	width:150px;
	text-align:top
}

table.kaarten{
	margin-bottom : 100px;
	max-width: 400px;
	width: 50% !important;
}

td{
	max-width: 1400px;
}

h3 {
	display: inline;
	font-style: normal;
	font-weight: normal;
	font-size: 17px;
}

.in_stapel{
	border: 3px solid black;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom : -75px;
}

form.tabelformulier{
	display: table;
}
p.tabelformulier{
	display: table-row;
}

label.tabelformulier{
	display: table-cell;
}
input.tabelformulier{
	display: table-cell;
	width: 150px;
	height: 40px;
	font-size: 17px;
	font-weight: bold;
}
span.tabelvakje{
	padding-left:20px;
	font-size: 19px;
	display: table-cell;
	padding-bottom: 20px;
}

.menu_knop{
	min-width: 100px;
	height: 30px;
	font-size: 19px;
}

input.delen{
	width: 600px;
	font-size: 20px;
	font-weight: bold;
}
.groen{
	color: green;
}

h4 {
	display: inline;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
}

progress{
	color: green;
}

input.uitgezet{
	pointer-events: none;
	opacity: 0.7;
}

.boven{
	vertical-align: top;
}
.rechts{
	width: 300px;
	text-align: center;
}

.groot{
	font-size: 30px;
}

input{
	white-space: normal;
}